.homecontent {
    background-color: bisque;
}
header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(29, 66, 55);
    text-align: center;
}
footer {
    text-align: center;
}
a {
    text-decoration: none;
}
a:visited {
    color: coral;
}
a:hover {
    font-weight: bold;
}
